<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Admin | Dashboard</title>
    <%- include('includes/head') %>
        <base href="https://alfa-menswear.com/" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
    .image-input {
        box-sizing: border-box;
        display: inline-block;
        height: 135px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 1px 10px 0 hsla(0, 0%, 0, 0.15);
        margin: 0 12px 12px 0;
    }

    .image-input::before {
        content: "upload";
        background-image: url($icon);
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 40px;
        left: 52%;
        top: 52%;
        opacity: 0.3;
        transition: opacity 200ms;
        transform: translate(-50%, -50%);
    }

    .isUploading::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 30px;
        left: 32px;
        top: 32px;
        opacity: 0.3;
        border-radius: 50%;
        border: 2px solid;
        border-color: transparent currentColor currentColor;
        animation: spin 600ms linear infinite;
    }

    .isUploading::before {
        display: none;
    }

    input[type=file] {
        opacity: 0;
        display: block;
        height: 100px;
        pointer-events: none;
    }

    .c-img {
        position: absolute;
        display: block;
        border-radius: 4px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 200ms;
        opacity: 1;
        object-fit: contain;
        object-position: center;
        background: white;
        z-index: 1;
    }

    .c-img img[src=""] {
        opacity: 0;
        pointer-events: none;
    }

    .image-input.main-image-input {
        width: 100%;
        height: 350px;
    }
</style>

<body>
    <div class="main-admin-wrapper">
        <%- include('includes/header') %>
            <div class="alfa-admin-wrapper">
                <div class="admin-side-nav">
                    <%- include('includes/sidebar') %>
                        <div class="admin-main-layout">
                            <div class="admin-breadcrumb">
                                <div class="admin-breadcrumb-title">
                                    <h4>Add New Product</h4>
                                </div>
                            </div>
                            <div class="admin-card">
                                <!-- Add Product Form -->
                                <form action="/admin/add-test" method="POST" class="row g-3"
                                    enctype="multipart/form-data">
                                    <div class="add-more-data" id="products">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="product_name" class="form-label">Product Type:</label>
                                                <select name="wear_type_bottom_or_top" class="form-control"
                                                    id="wearType" onchange="waerTypeFunction()">
                                                    <option value="">Select</option>
                                                    <option value="Top">Top</option>
                                                    <option value="Bottom">Bottom</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="product_name" class="form-label">Product Catgory:</label>
                                                <select name="category_id" class="form-control" id="">
                                                    <option value="">Select</option>
                                                    <% categories.forEach(category=> { %>
                                                        <option value="<%= category.id %>">
                                                            <%= category.category_name %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="product_name" class="form-label">Product Name:</label>
                                                <input type="text" id="product_name" name="product_name"
                                                    class="form-control" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="product_title" class="form-label">Product Title:</label>
                                                <input type="text" id="product_title" name="product_title"
                                                    class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <label for="product_description" class="form-label">Product
                                                    Description:</label>
                                                <textarea id="product_description" name="product_description"
                                                    class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="product-cart-wraps">
                                                <div class="product-title-text ">
                                                    <h4>Information</h4>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="from-group">
                                                            <label for="Catename">Product Information</label>
                                                            <textarea class="form-control" name="product_information"
                                                                id=""></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mt-3">
                                                        <div class="from-group">
                                                            <label for="Catename">Shipping Information</label>
                                                            <textarea class="form-control" name="shipping_information"
                                                                id=""></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mt-3">
                                                        <div class="from-group">
                                                            <label for="Catename">Return Policy</label>
                                                            <textarea class="form-control" name="return_policy"
                                                                id=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-title-text mt-3">
                                            <h4>Pricing</h4>
                                        </div>
                                        <div class="product-detail product" id="products">
                                            <div class="">
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4">
                                                    <div class="from-group">
                                                        <label for="Catename">MRP</label>
                                                        <input type="text" name="product_price[]" class="form-control"
                                                            placeholder="Enter Product MRP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="from-group">
                                                        <label for="Catename">Discount</label>
                                                        <input type="text" name="discount_on_product[]"
                                                            class="form-control" placeholder="Enter  Discount">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="from-group">
                                                        <label for="Catename">Color</label>
                                                        <input type="text" name="colour[]" class="form-control"
                                                            placeholder="Enter Product Color" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-title-text mt-4">
                                                <h4>Size Detail</h4>
                                            </div>
                                            <!-- Top -->
                                            <div class="row mt-2" id="topWear" style="display: none;">
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XS</label>
                                                        <input type="number" name="size_xs[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size S</label>
                                                        <input type="number" name="size_s[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size M</label>
                                                        <input type="number" name="size_m[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size L</label>
                                                        <input type="number" name="size_l[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XL</label>
                                                        <input type="number" name="size_xl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XXL</label>
                                                        <input type="number" name="size_xxl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XXXL</label>
                                                        <input type="number" name="size_xxxl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XXXXL</label>
                                                        <input type="number" name="size_xxxxl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END -->
                                            <!-- TOP -->
                                            <div class="row mt-2" id="bottomWear" style="display: none;">
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 28</label>
                                                        <input type="number" name="size_28[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 30</label>
                                                        <input type="number" name="size_30[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 32</label>
                                                        <input type="number" name="size_33[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 34</label>
                                                        <input type="number" name="size_34[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 36</label>
                                                        <input type="number" name="size_36[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 38</label>
                                                        <input type="number" name="size_38[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 40</label>
                                                        <input type="number" name="size_40[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 42</label>
                                                        <input type="number" name="size_42[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 44</label>
                                                        <input type="number" name="size_44[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 46</label>
                                                        <input type="number" name="size_46[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END -->
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <div class="product-cart-wrap">
                                                        <div class="product-title-text">
                                                            <h4>Media</h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="from-group">
                                                                    <label class="image-input main-image-input">
                                                                        <input type="file" name="product_main_image[]"
                                                                            accept="image/png,image/jpeg"
                                                                            max-size="10000000">
                                                                        <input type="hidden"
                                                                            name="product_main_image[]">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="image-grid-wrapper" style="display: flex;">
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image1[]"
                                                                            accept="image/png,image/jpeg"
                                                                            max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image2[]"
                                                                            accept="image/png,image/jpeg"
                                                                            max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image3[]"
                                                                            accept="image/png,image/jpeg"
                                                                            max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image4[]"
                                                                            accept="image/png,image/jpeg"
                                                                            max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image5[]"
                                                                            accept="image/png,image/jpeg"
                                                                            max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            </div>
                                            <div class="mt-2" style="display: flex; justify-content: end;">
                                                <button type="button" class="btn-submit" onclick="addProductForm()">Add
                                                    More
                                                    Product</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn"
                                    style="color: aliceblue; background-color: rgb(15, 13, 13);">Add Product</button>
                            </div>

                            </form>
                        </div>
                </div>
            </div>
    </div>
    </div>
    <script>
        function waerTypeFunction() {
            var wearType = document.getElementById("wearType").value;
            var topWear = document.getElementById("topWear");
            var bottomWear = document.getElementById("bottomWear");
            if (wearType == "Top") {
                topWear.style.display = "flex";
                bottomWear.style.display = "none"
            }
            else if (wearType == "Bottom") {
                topWear.style.display = "none"
                bottomWear.style.display = "flex"
            }
            else {
                topWear.style.display = "none";
                bottomWear.style.display = "none";
            }
        }

    </script>
    <script>
        function ImageInput(element) {
            // Variables
            var $wrapper = element;
            var $file = $wrapper.querySelector('input[type=file]');
            var $input = $wrapper.querySelector('input[type=hidden]');
            var $img = $wrapper.querySelector('img');
            var maxSize = Number($file.getAttribute('max-size'));
            var types = $file.accept.split(',');

            var api = {
                onInvalid: onInvalid,
                onChanged: onChanged,
            };

            // Methods
            function fileHandler(e) {
                var file = $file.files.length && $file.files[0];

                if (!file) return;

                var errors = checkValidity(file);

                if (errors) {
                    api.onInvalid(errors);
                    $file.value = null;
                    return;
                }

                api.onChanged(file, update, $wrapper);
            }

            function humanizeFormat(string) {
                return string.replace(/.*?\//, '');
            }

            function checkValidity(file) {
                var errors = [];

                types.includes(file.type) || errors.push('Format file harus: ' + types.map(humanizeFormat).join(', '));
                file.size < maxSize || errors.push('Ukuran file maksimal ' + maxSize / 1000000 + 'MB');

                return errors.length ? errors : false;
            }

            function getFileData(file, callback) {
                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    callback(reader.result);
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }

            function update(data) {
                $img.src = data;
                $input.value = data;
            }

            function onInvalid(errors) {
                alert(errors.join('. '));
            }

            function onChanged(file, update, $wrapper) {
                console.log('.onChanged called');
                getFileData(file, update);
            }

            // Init
            $file.addEventListener('change', fileHandler);

            return api;
        };

        function initImageInputs() {
            document.querySelectorAll('.image-input').forEach(_ => {
                var imageInput = new ImageInput(_);
                _.addEventListener("click", (e) => {
                    if (e.target.classList.contains('image-remove')) {
                        _.remove();
                    }
                });

                if (_.classList.contains('withAjax')) {
                    imageInput.onChanged = customOnChanged;
                }

                function customOnChanged(file, update, $el) {
                    if (!$el.nextElementSibling) {
                        var $remove = document.createElement('button');
                        $remove.className = "image-remove";

                        var $new = $el.cloneNode(true);
                        $new.querySelector('input[type=hidden]').value = "";
                        $new.querySelector('input[type=file]').value = "";
                        $new.querySelector('img').src = "";

                        $el.parentElement.append($new);
                        $el.append($remove);

                        var imageInput = new ImageInput($new);
                        imageInput.onChanged = customOnChanged;
                    }

                    $el.classList.add('isUploading');
                    setTimeout(function () {
                        update('https://placekitten.com/200/300');
                        $el.classList.remove("isUploading");
                    }, 3000);
                }
            });
        }

        let productIndex = 1;

        function addProductForm() {
            const productsContainer = document.getElementById("products");
            const wearType = document.getElementById("wearType").value;
            const productTemplate = `<div class="add-more-data product" id="product-${productIndex + 1}">
                                        <div class="row">
                                              
                                            <div class="col-md-3">
                                                <label for="product_name_${productIndex + 1}" class="form-label">Product Name:</label>
                                                <input type="text" id="product_name_${productIndex + 1}" name="product_name[]"
                                                    class="form-control" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="product_title_${productIndex + 1}" class="form-label">Product Title:</label>
                                                <input type="text" id="product_title_${productIndex + 1}" name="product_title[]"
                                                    class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <label for="product_description_${productIndex + 1}" class="form-label">Product
                                                    Description:</label>
                                                <textarea id="product_description_${productIndex + 1}" name="product_description[]"
                                                    class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="product-title-text mt-3">
                                            <h4>Pricing</h4>
                                        </div>
                                        <div class="product-detail">
                                            <div class="">
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4">
                                                    <div class="from-group">
                                                        <label for="catename_${productIndex + 1}">MRP</label>
                                                        <input type="text" name="product_price[]" id="category_${productIndex + 1}" class="form-control"
                                                            placeholder="Enter Product MRP">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="from-group">
                                                        <label for="Catename">Discount</label>
                                                        <input type="text" name="discount_on_product[]" class="form-control" placeholder="Enter  Discount">
                                                    </div>
                                                </div>
                                                 <div class="col-md-4">
                                                    <div class="from-group">
                                                        <label for="Catename">Color</label>
                                                        <input type="text" name="colour[]" class="form-control"
                                                            placeholder="Enter Product Color" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-title-text mt-4">
                                                <h4>Size Detail</h4>
                                            </div>
                                         <!-- Top -->
                                            <div class="row mt-2" id="topWear_${productIndex + 1}" style="display: none;">
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XS</label>
                                                        <input type="number" name="size_xs[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size S</label>
                                                        <input type="number" name="size_s[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size M</label>
                                                        <input type="number" name="size_m[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size L</label>
                                                        <input type="number" name="size_l[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XL</label>
                                                        <input type="number" name="size_xl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XXL</label>
                                                        <input type="number" name="size_xxl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XXXL</label>
                                                        <input type="number" name="size_xxxl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size XXXXL</label>
                                                        <input type="number" name="size_xxxxl[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END -->
                                             <!-- TOP -->
                                            <div class="row mt-2"  id="bottomWear_${productIndex + 1}" style="display: none;">
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 28</label>
                                                        <input type="number" name="size_28[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 30</label>
                                                        <input type="number" name="size_30[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 32</label>
                                                        <input type="number" name="size_33[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 34</label>
                                                        <input type="number" name="size_34[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 36</label>
                                                        <input type="number" name="size_36[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 38</label>
                                                        <input type="number" name="size_38[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 40</label>
                                                        <input type="number" name="size_40[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 42</label>
                                                        <input type="number" name="size_42[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 44</label>
                                                        <input type="number" name="size_44[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="from-group">
                                                        <label for="Catename">Size 46</label>
                                                        <input type="number" name="size_46[]" value="0" min="0"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                             <!-- END -->
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <div class="product-cart-wrap">
                                                        <div class="product-title-text">
                                                            <h4>Media</h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="from-group">
                                                                    <label class="image-input main-image-input">
                                                                        <input type="file" name="product_main_image[]" accept="image/png,image/jpeg" max-size="10000000">
                                                                        <input type="hidden" name="product_main_image[]">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="image-grid-wrapper" style="display: flex;">
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image1[]" accept="image/png,image/jpeg" max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image2[]" accept="image/png,image/jpeg" max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image3[]" accept="image/png,image/jpeg" max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image4[]" accept="image/png,image/jpeg" max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                                <div class="image-items">
                                                                    <label class="image-input">
                                                                        <input type="file" name="image5[]" accept="image/png,image/jpeg" max-size="10000000">
                                                                        <input type="hidden" name="">
                                                                        <img class="c-img" src="" alt="">
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            </div>
                                            <div class="mt-2" style="display: flex; justify-content: end;">
                                                <button type="button" class="btn-submit btn-danger" onclick="removeProduct(this)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
            `;
            const productNode = document.createElement("div");
            productNode.innerHTML = productTemplate.trim();
            productsContainer.appendChild(productNode.firstChild);

            productIndex++;
            updateWearTypeDisplay(wearType);
            initImageInputs(); // Reinitialize the image inputs
        }

        function removeProduct(button) {
            const productDiv = button.closest(".product");
            productDiv.remove();
        }
        function waerTypeFunction() {
            const wearType = document.getElementById("wearType").value;
            updateWearTypeDisplay(wearType);
        }

        function updateWearTypeDisplay(wearType) {
            const productForms = document.querySelectorAll('.product');
            productForms.forEach((form) => {
                const topWear = form.querySelector(`[id^="topWear"]`);
                const bottomWear = form.querySelector(`[id^="bottomWear"]`);
                if (wearType === "Top") {
                    topWear.style.display = "flex";
                    bottomWear.style.display = "none";
                } else if (wearType === "Bottom") {
                    topWear.style.display = "none";
                    bottomWear.style.display = "flex";
                } else {
                    topWear.style.display = "none";
                    bottomWear.style.display = "none";
                }
            });
        }
        // Initialize image inputs for existing elements
        initImageInputs();
    </script>
</body>

</html>