<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alfa Admin | Dashboard</title>
  <%- include('includes/head') %>
</head>

<body>
  <div class="main-admin-warpper">
    <%- include('includes/header') %>
    <div class="alfa-admin-wrapper">
      <div class="admin-side-nav">
        <%- include('includes/sidebar') %>
        <div class="admin-main-layout">
          <div class="admin-bradcrumb">
            <div class="admin-brudcrumb-title">
              <h4>Category List</h4>
            </div>
          </div>
          <div class="admin-card">
            <div class="admin-card-wrap">
              <div class="table-search">
                <input type="search" class="">
              </div>
              <div class="table-btn">
                <a href="/admin/add-category">Add Category</a>
              </div>
            </div>
 
            <div class="responsive-table">
              <table class="table table-border">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Category Image</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% categories.forEach( category  => { %>
                  <tr>
                    <td> <%= category.id %></td>
             
                    <td><%= category.category_name %></td>
                    <td><img src="../../category_images/<%= category.category_image %>" alt="<%= category.category_image %>" style="max-width: 100px;"></td>
                    <td><%= category.created_at %></td>
                    <td>
                      <a href="/admin/edit-category/<%= category.id %>" class="btn btn-primary">Edit</a> |
                      <a href="/admin/delete-category/<%= category.id %>" class="btn btn-danger">Delete</a>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>