<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alfa Admin | Dashboard</title>
  <%- include('includes/head') %>
</head>

<body>
  <div class="main-admin-warpper">
    <%- include('includes/header') %>
    <div class="alfa-admin-wrapper">
      <div class="admin-side-nav">
        <%- include('includes/sidebar') %>
        <div class="admin-main-layout">
          <div class="admin-bradcrumb">
            <div class="admin-brudcrumb-title">
              <h3><span><i class="fa-solid fa-angle-left"></i></span> Category List</h3>
            </div>
          </div>
          <div class="product-list">
             <div class="table-list-head">
              <div class="alfa-data-search">
                <div class="search-wrapper position-relative">
                  <span><i class="fa-solid fa-magnifying-glass"></i></span>
                  <input type="search" name="search" class="table-search" placeholder="Search" id="search">
                </div>
                <div class="select-warpper">
                  <div class="table-selects">
                    <select name="" id="" class="table-select">
                      <option value="all">All</option>
                      <option value="">One</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="table-list-btn">
                <div class="table-btn">
                  <a href="/admin/add-category">Add Category</a>
                </div>
              </div>
            </div>
 
            <div class="responsive-table">
              <table class="alfa-table">
                <thead>
                  <tr>
                    <th>S . No</th>
                    <th>Category Name</th>
                    <th>Category Image</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% categories.forEach((category, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
             
                    <td><%= category.category_name %></td>

                    <td><img src="../../category_images/<%=category.category_image %>" alt="Category Image" style="max-width: 100px;  max-height: 100px;"></td>

                    <td><%= category.created_at.toLocaleString('en-GB', { timeZone: 'Europe/London', dateStyle: 'medium', timeStyle: 'medium' }) %></td>


                    <td>
                      <a href="/admin/edit-category/<%= category.id %>" class="btn btn-primary" >Edit</a> |
                      <a href="/admin/delete-category/<%= category.id %>" class="btn btn-danger">Delete</a>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <div class="table-pagination-wrapper">
              <div class="table-pagination">
                <a href="#"><span><i class="fa-solid fa-angle-left"></i></span></a>
                <a href="#" class="active page-items">1</a>
                <a href="#" class="page-items">2</a>
                <a href="#" style="color: #005D67;"><span><i class="fa-solid fa-angle-right"></i></span></a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>