<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Admin | Master Analysis</title>
    <%- include('includes/head') %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="main-admin-wrapper">
        <%- include('includes/header') %>
            <div class="alfa-admin-wrapper">
                <div class="admin-side-nav">
                    <%- include('includes/sidebar') %>
                        <div class="admin-main-layout">
                            <div class="admin-breadcrumb">
                                <div class="admin-breadcrumb-title">
                                    <h4>Master Analysis</h4>
                                </div>
                            </div>
                            <div class="admin-card">
                                <div class="row">
                                    <div class="col-md-4 my-3 bg-dark text-white">
                                        <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                            <div class="dash-top">
                                                <h6>Total Orders</h6>
                                            </div>
                                            <div class="dash-box-content">
                                                <h4>
                                                    <%= totalOrders %>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 my-3 bg-dark text-white">
                                        <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                            <div class="dash-top">
                                                <h6>Total Ordered Amount</h6>
                                            </div>
                                            <div class="dash-box-content">
                                                <h4>£<%= totalOrderedAmount %>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 my-3 bg-dark text-white">
                                        <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                            <div class="dash-top">
                                                <h6>Total Vat Amount</h6>
                                            </div>
                                            <div class="dash-box-content">
                                                <h4>£<%= vatamount %>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 my-3 bg-dark text-white">
                                        <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                            <div class="dash-top">
                                                <h6>Total Repeated Customers</h6>
                                            </div>
                                            <div class="dash-box-content">
                                                <h4>
                                                    <%= totalRepeatedCustomers %>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4 my-3 bg-dark text-white">
                                    <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                        <div class="dash-top">
                                            <h6>New Users This Month</h6>
                                        </div>
                                        <div class="dash-box-content">
                                            <h4>
                                                <%= newUsersThisMonth %>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 my-3 bg-dark text-white">
                                    <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                        <div class="dash-top">
                                            <h6>New Users This Week</h6>
                                        </div>
                                        <div class="dash-box-content">
                                            <h4>
                                                <%= newUsersThisWeek %>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 my-3 bg-dark text-white">
                                    <div class="dashboard-card p-3 mx-auto text-center my-auto ">
                                        <div class="dash-top">
                                            <h6>New Users Today</h6>
                                        </div>
                                        <div class="dash-box-content">
                                            <h4>
                                                <%= newUsersToday %>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    </div>

    <%- include('includes/foot') %>
</body>

</html>