<!DOCTYPE html>
<html lang="en">

<head>
  <base href="https://alfa-menswear.com/" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alfa Admin | Customer Detail</title>
  <%- include('includes/head') %>
</head>
<style>
  .tab-container {

    border-radius: 10px;
  }

  .tab-menu ul {
    margin: 0;
    padding: 25px;
  }

  .tab-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 6px 0 0;
  }

  .tab-menu ul li a {
    text-decoration: none;
    color: #736969;
    background-color: #f7f8f4;
    padding: 5px 16px;
    cursor: pointer;
  }

  .tab-menu ul li a.active-a {
    background-color: #B3B796;
    color: #000000;
  }

  .tab {
    display: none;
  }

  .tab h2 {
    color: rgba(0, 0, 0, .7);
  }

  .tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
  }

  .tab-active {
    display: block;
  }

  .product-lists {
    border-radius: 10px;
  }
</style>

<body class="admin-body">
  <div class="main-admin-warpper">
    <%- include('includes/header') %>
      <div class="alfa-admin-wrapper">
        <div class="admin-side-nav">
          <%- include('includes/sidebar') %>
            <div class="admin-main-layout">
              <div class="admin-bradcrumb">
                <div class="admin-brudcrumb-title">
                  <h3>Customer Information</h3>
                </div>
                <div class="adminRightWrapper">
                  <div class="search-wrapper position-relative">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" name="search" class="table-search" placeholder="Search" id="search">
                  </div>

                </div>
              </div>
              <div class="customer-card-grid">
                <div class="customer-grid">
                  <div class="customer-item">
                    <div class="customer-icon">
                      <span><i class="fa-regular fa-user"></i></span>
                    </div>
                    <div class="customer-detail">
                      <h6 class="customer-label">Name</h6>
                      <h5>
                        <%= userData.name %>
                      </h5>
                    </div>
                  </div>
                  <div class="customer-item">
                    <div class="customer-icon">
                      <span><i class="fa-regular fa-envelope"></i></span>
                    </div>
                    <div class="customer-detail">
                      <h6 class="customer-label">Email address </h6>
                      <h5>
                        <%= userData.email %>
                      </h5>
                    </div>
                  </div>
                  <div class="customer-item">
                    <div class="customer-icon">
                      <span><i class="fa-solid fa-phone"></i></span>
                    </div>
                    <div class="customer-detail">
                      <h6 class="customer-label">Phone Number</h6>
                      <h5> +44 235 235 2456 </h5>
                    </div>
                  </div>
                  <div class="customer-item">
                    <div class="customer-icon">
                      <span><i class="fa-solid fa-location-dot"></i></span>
                    </div>
                    <div class="customer-detail">
                      <h6 class="customer-label">Shipping Address</h6>
                      <h5>33 Westover Road, Bournemouth, Dorset, BH1 2BZ</h5>
                    </div>
                  </div>
                </div>
                <hr style="margin: 0;">
                <div class="customer-grid newsletter-wrapper">
                  <div class="customer-newsletter">
                    <h4>Newsletter</h4>
                    <p>Unsubscribed</p>
                  </div>
                </div>
              </div>

              <div class="product-list product-lists">
                <div class="tab-container">
                  <div class="tab-menu">
                    <ul>
                      <li><a class="tab-a active-a" data-id="tab1">All</a></li>
                      <li><a class="tab-a" data-id="tab2">Completed</a></li>
                      <li><a class="tab-a" data-id="tab3">Return</a></li>
                      <li><a class="tab-a" data-id="tab4">Canceled </a></li>
                      <li><a class="tab-a" data-id="tab5">Wishlist</a></li>
                      <li><a class="tab-a" data-id="tab6">Cart</a></li>
                      <li><a class="tab-a" data-id="tab7">Placed Order</a></li>
                    </ul>
                  </div>
                  <!-- All -->
                  <div class="tab tab-active" data-id="tab1">
                    <div>
                      <div class="responsive-table">
                        <table class="alfa-table">
                          <thead>
                            <tr>
                              <th>Sr No</th>
                              <th>User Name</th>
                              <th>Order Id</th>
                              <th>Phone Number</th>
                              <th>Total Product</th>
                              <th>Price</th>
                              <th>Wishlist</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody id="order-tbody">
                            <tr>
                              <td>1</td>
                              <td>
                                <div class="user-detail-wrap">
                                  <div class="user-icon">
                                    <span>A</span>
                                  </div>
                                  <div class="user-name">
                                    <h6>Arif Khan</h6>
                                    <span>mason.co.uk</span>
                                  </div>
                                </div>
                              </td>
                              <td><a href="order-details" class="order-id">ALFA658436</a></td>
                              <td>+44 202 265 2354</td>
                              <td>70</td>
                              <td>£68.00</td>
                              <td>5</td>
                              <td>
                                <div class="order-status-wrapper">
                                  <span class="order-status success">Completed</span>
                                </div>
                              </td>
                              <td>
                                <div class="table-icons">
                                  <a href="" class="anchor-color"><span><i class="fa-regular fa-eye"></i></span></a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>
                                <div class="user-detail-wrap">
                                  <div class="user-icon">
                                    <span>A</span>
                                  </div>
                                  <div class="user-name">
                                    <h6>Arif Khan</h6>
                                    <span>mason.co.uk</span>
                                  </div>
                                </div>
                              </td>
                              <td><a href="" class="order-id">ALFA658436</a></td>
                              <td>+44 202 265 2354</td>
                              <td>70</td>
                              <td>£68.00</td>
                              <td>5</td>
                              <td>
                                <div class="order-status-wrapper">
                                  <span class="order-status cancelled">Cancelled</span>
                                </div>
                              </td>
                              <td>
                                <div class="table-icons">
                                  <a href="" class="anchor-color"><span><i class="fa-regular fa-eye"></i></span></a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>
                                <div class="user-detail-wrap">
                                  <div class="user-icon">
                                    <span>A</span>
                                  </div>
                                  <div class="user-name">
                                    <h6>Arif Khan</h6>
                                    <span>mason.co.uk</span>
                                  </div>
                                </div>
                              </td>
                              <td><a href="" class="order-id">ALFA658436</a></td>
                              <td>+44 202 265 2354</td>
                              <td>70</td>
                              <td>£68.00</td>
                              <td>5</td>
                              <td>
                                <div class="order-status-wrapper">
                                  <span class="order-status inprogress">In Progress</span>
                                </div>
                              </td>
                              <td>
                                <div class="table-icons">
                                  <a href="" class="anchor-color"><span><i class="fa-regular fa-eye"></i></span></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="table-pagination-wrapper">
                        <div class="table-pagination" id="pagination">
                          <a href="#" class="pagination-previous"><span><i
                                class="fa-solid fa-angle-left"></i></span></a>
                          <a href="#" class="page-items active">1</a>
                          <a href="#" class="page-items">2</a>
                          <a href="#" class="pagination-next" style="color: #005D67;"><span><i
                                class="fa-solid fa-angle-right"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End -->
                  <!-- Completed -->
                  <div class="tab " data-id="tab2">
                    <div>
                      <div class="responsive-table">
                        <table class="alfa-table">
                          <thead>
                            <tr>
                              <th>Sr No</th>
                              <th>User Name</th>
                              <th>Order Id</th>
                              <th>Phone Number</th>
                              <th>Total Product</th>
                              <th>Price</th>
                              <th>Wishlist</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody id="order-tbody">
                            <tr>
                              <td>1</td>
                              <td>
                                <div class="user-detail-wrap">
                                  <div class="user-icon">
                                    <span>A</span>
                                  </div>
                                  <div class="user-name">
                                    <h6>Arif Khan</h6>
                                    <span>mason.co.uk</span>
                                  </div>
                                </div>
                              </td>
                              <td><a href="order-details" class="order-id">ALFA658436</a></td>
                              <td>+44 202 265 2354</td>
                              <td>70</td>
                              <td>£68.00</td>
                              <td>5</td>
                              <td>
                                <div class="order-status-wrapper">
                                  <span class="order-status success">Completed</span>
                                </div>
                              </td>
                              <td>
                                <div class="table-icons">
                                  <a href="" class="anchor-color"><span><i class="fa-regular fa-eye"></i></span></a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>
                                <div class="user-detail-wrap">
                                  <div class="user-icon">
                                    <span>A</span>
                                  </div>
                                  <div class="user-name">
                                    <h6>Arif Khan</h6>
                                    <span>mason.co.uk</span>
                                  </div>
                                </div>
                              </td>
                              <td><a href="" class="order-id">ALFA658436</a></td>
                              <td>+44 202 265 2354</td>
                              <td>70</td>
                              <td>£68.00</td>
                              <td>5</td>
                              <td>
                                <div class="order-status-wrapper">
                                  <span class="order-status cancelled">Cancelled</span>
                                </div>
                              </td>
                              <td>
                                <div class="table-icons">
                                  <a href="" class="anchor-color"><span><i class="fa-regular fa-eye"></i></span></a>
                                </div>
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                      <div class="table-pagination-wrapper">
                        <div class="table-pagination" id="pagination">
                          <a href="#" class="pagination-previous"><span><i
                                class="fa-solid fa-angle-left"></i></span></a>
                          <a href="#" class="page-items active">1</a>
                          <a href="#" class="page-items">2</a>
                          <a href="#" class="pagination-next" style="color: #005D67;"><span><i
                                class="fa-solid fa-angle-right"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End -->
                  <div class="tab " data-id="tab3">
                    <h2>heading of tab three</h2>
                    <p>Content of tab three</p>
                  </div><!--end of tab three-->
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  <%- include('includes/foot') %>
    <script>
      $(document).ready(function () {
        $('.tab-a').click(function () {
          $(".tab").removeClass('tab-active');
          $(".tab[data-id='" + $(this).attr('data-id') + "']").addClass("tab-active");
          $(".tab-a").removeClass('active-a');
          $(this).parent().find(".tab-a").addClass('active-a');
        });
      });
    </script>
</body>

</html>