<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Product Details</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
            <div class="mt-100 mt-700">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-rows">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>Contact Us</h2>
                                    <p></p>
                                </div>
                            </div>
                         </div>
                    </div>
                  </div>
                <div class="checkout-wrapper margin-160 margin-190">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-info">
                                    <div class="checkout-title">
                                        <h3>Contact Info</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            sollicitudin sit amet purus sit </p>
                                    </div>
                                    <ul class="contact-ul">
                                        <li><span class="c-span"><i class="fa-solid fa-phone"></i>
                                           </span> +44 <%=content.phone1  %>
                                       </li>
                                        <li><span class="c-span"><i class="fa-regular fa-envelope"></i></span>
                                            <%=content.email %></li>
                                        <li><span class="c-span"><i class="fa-solid fa-location-dot"></i></span>  <%=content.address %></li>
                                    </ul>
                                    <div class="footer-social-media">
                                        <div class="checkout-title">
                                            <h3>Other Ways to connect with us</h3>
                                        </div>
                                        <ul class="comman-ul contact-media-ul">
                                            <li><a href="#"><span class="social-icon contact-icon"></span><i class="fa-brands fa-instagram social-icon-f"></i></a></li>
                                            <li><a href="#"><span class="social-icon contact-icon"></span><i class="fa-brands fa-facebook social-icon-f"></i></a></li>
                                            <li><a href="#"><span class="social-icon contact-icon"></span><i class="fa-brands fa-x-twitter social-icon-f"></i></a></li>
                                            <li><a href="#"><span class="social-icon contact-icon"></span><i class="fa-brands fa-linkedin social-icon-f"></i></a></li>
                                         </ul>
                                         <div>
                                            <p style="font-size: 13px;">Be the first on your block  to get product <br> updates,
                                                announcements, news and lots <br> of really good content,
                                                like us on social <br> media handles</p>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-us-wrapper">
                                    <div class="checkout-title ">
                                        <h3>Get In Touch With Us</h3>
                                        <p>If you wish to directly reach us, Please fill out the form below </p>
                                    </div>
                                    <div class="contact-form-wrapper">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group contact-form-group">
                                                        <label for="Name">Full Name</label>
                                                        <input type="text" name="name"
                                                            class="form-control contact-form-control"
                                                            placeholder="Enter Full Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group contact-form-group">
                                                        <label for="Email">Email ID</label>
                                                        <input type="text" name="email"
                                                            class="form-control contact-form-control"
                                                            placeholder="Enter Email ID">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group contact-form-group">
                                                        <label for="Email">Contact</label>
                                                        <input type="text" name="contact"
                                                            class="form-control contact-form-control"
                                                            placeholder="Enter Contact">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group contact-form-group">
                                                        <label for="Name">Subject</label>
                                                        <input type="text" name="subject"
                                                            class="form-control contact-form-control"
                                                            placeholder="Enter Subject">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group contact-form-group">
                                                        <label for="Name">Message</label>
                                                        <textarea name="" id=""
                                                            class="form-control contact-form-control"
                                                            style="height: 150px;"
                                                            placeholder="Enter Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="contact-submit">
                                                    <button class="wishlist-btn submit-btn w-25">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>