<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alfa Meanswear | Home</title>
  <meta name="robots" content="noindex">
  <%- include('includes/head') %>
</head>

<body>
  <div class="alfa-main-wraper">
    <%- include('includes/header') %>
      <div class="mt-100">
        <!-- HERO SECTION -->
        <section class="hero-section position-relative">
          <div id="hero-carousel" class="owl-carousel comman-nav">
            <div class="items hero-sec-items" style="background-color: #F9CF2D1A;">
              <div class="container">
                <div class="row position-relative" style="z-index: 999;">
                  <div class="col-md-6">
                    <div class="alfa-hero-left-wrapper">
                      <div class="alfa-text">
                        <h6><span></span> men wear</h6>
                      </div>
                      <div class="alfa-main-title">
                        <h3>Alfa Meanswear <br> Accessories</h3>
                      </div>
                      <div class="alfa-discover-btn">
                        <a href="" class="alfa-btn">Discover Now <img src="assets/images/arrow-right.png" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 hero-image-center">
                    <div class="alfa-banners">
                      <div class="alfa-circle">
                        <img src="assets/images/Ellipse1.png" alt="">
                      </div>
                      <div class="alfa-main-image">
                        <img src="assets/images/man-shirt.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- END -->
        <!-- FEATURES START -->
        <div class="hero-meanswear d-none">
          <h2>Menswear</h2>
        </div>
        </section>
        <!-- END -->
        <!-- FEATURES SECTION -->
        <section class="feature-section mt-80">
          <div class="custom-container">
            <div class="features-row">
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/shipping.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Free Shipping</h5>
                  <p>From all orders over $100</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/quality.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Quality Support</h5>
                  <p>24/7 online feedback</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/return.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Return &amp; Refund</h5>
                  <p>Return money within 30 days</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/gift-voucher.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Gift Voucher</h5>
                  <p>20% off when you shop online</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- SELLING SECTION -->
        <section class="mt-80">
          <div class="offer-wrapper">
            <div class="offer-wrap">
              <div class="offer-left-wrap">
                <div class="offer-images">
                  <div><img src="assets/images/offer-circle.png" class="offer-circle" alt=""></div>
                  <div class="offer-combo">
                    <img src="assets/images/offer.png" class="combo-img" alt="">
                  </div>
                </div>
                <div class="offer-text-wrap position-relative">
                  <div class="offer-content">
                    <p>Alfa Menswear</p>
                  </div>
                  <div class="offer-item-name">
                    <h2>Trouser</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="offer-wrap-right">
              <div>
                <div class="offer-right-text">
                  <a href=""> Sale up to</a>
                </div>
                <div class="offer-percentage">
                  <h3>40%</h3>
                  <p>Off everything</p>
                </div>
                <div class="offer-shop-now">
                  <a href="">Shop Now <img src="assets/images/subs-arrow.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- NEW ARRIVAL -->
        <section class="mt-80">
          <div class="custom-container">
            <div class="alfa-new-arrival">
              <div class="alfa-title">
                <h3>New Arrivals</h3>
                <p>Preorder nor to receive exclusive deals & gifts</p>
              </div>
              <div class="arrival-wrapper">
                <div class="product-item" data-color="brown">
                  <div class="produt-wrap">
                    <a href="/product-detail/1 ">
                      <img src="../product_images/s.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="1">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/1">
                        <h6>shirt 1</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£80.00</span>
                          <span class="mrp-price">
                            £100</span>
                          <span class="discount-text">
                            (20% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="1">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="blue">
                  <div class="produt-wrap">
                    <a href="/product-detail/2 ">
                      <img src="../product_images/shirt2.avif " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="2">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/2">
                        <h6>shirt2</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£68.00</span>
                          <span class="mrp-price">
                            £85</span>
                          <span class="discount-text">
                            (20% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="2">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="blue">
                  <div class="produt-wrap">
                    <a href="/product-detail/3 ">
                      <img src="../product_images/shirt3.avif " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="3">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/3">
                        <h6>shirt 3</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£64.00</span>
                          <span class="mrp-price">
                            £80</span>
                          <span class="discount-text">
                            (20% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="3">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="blue">
                  <div class="produt-wrap">
                    <a href="/product-detail/4 ">
                      <img src="../product_images/jean1.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="4">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/4">
                        <h6>jean 1</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£76.50</span>
                          <span class="mrp-price">
                            £90</span>
                          <span class="discount-text">
                            (15% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="4">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="blue">
                  <div class="produt-wrap">
                    <a href="/product-detail/5 ">
                      <img src="../product_images/jean2_1.jpg " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="5">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/5">
                        <h6>jean 2</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£68.00</span>
                          <span class="mrp-price">
                            £80</span>
                          <span class="discount-text">
                            (15% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="5">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="black">
                  <div class="produt-wrap">
                    <a href="/product-detail/6 ">
                      <img src="../product_images/trouser1.jpg " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="6">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/6">
                        <h6>Trouser 1</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£63.00</span>
                          <span class="mrp-price">
                            £90</span>
                          <span class="discount-text">
                            (30% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="6">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="grey">
                  <div class="produt-wrap">
                    <a href="/product-detail/7 ">
                      <img src="../product_images/trouser2.jpg " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="7">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/7">
                        <h6>Trouser 2</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£70.00</span>
                          <span class="mrp-price">
                            £100</span>
                          <span class="discount-text">
                            (30% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="7">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="grey">
                  <div class="produt-wrap">
                    <a href="/product-detail/8 ">
                      <img src="../product_images/trouser3.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="8">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/8">
                        <h6>Trouser 3</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£84.00</span>
                          <span class="mrp-price">
                            £120</span>
                          <span class="discount-text">
                            (30% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="8">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="grey">
                  <div class="produt-wrap">
                    <a href="/product-detail/9 ">
                      <img src="../product_images/trouser4.jpg " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="9">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/9">
                        <h6>Trouser 4</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£98.00</span>
                          <span class="mrp-price">
                            £140</span>
                          <span class="discount-text">
                            (30% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="9">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="white">
                  <div class="produt-wrap">
                    <a href="/product-detail/10 ">
                      <img src="../product_images/shirt4.avif " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="10">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/10">
                        <h6>shirt 4</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£64.00</span>
                          <span class="mrp-price">
                            £80</span>
                          <span class="discount-text">
                            (20% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="10">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="green">
                  <div class="produt-wrap">
                    <a href="/product-detail/12 ">
                      <img src="../product_images/tshirt1_green.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="12">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/12">
                        <h6>tshirt1 green</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£53.10</span>
                          <span class="mrp-price">
                            £59</span>
                          <span class="discount-text">
                            (10% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="12">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="grey">
                  <div class="produt-wrap">
                    <a href="/product-detail/13 ">
                      <img src="../product_images/tshirt1_grey.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="13">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/13">
                        <h6>tshirt1 grey</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£53.10</span>
                          <span class="mrp-price">
                            £59</span>
                          <span class="discount-text">
                            (10% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="13">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="yellow">
                  <div class="produt-wrap">
                    <a href="/product-detail/14 ">
                      <img src="../product_images/tshirt1_yellow.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="14">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/14">
                        <h6>tshirt1 yellow</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£53.10</span>
                          <span class="mrp-price">
                            £59</span>
                          <span class="discount-text">
                            (10% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="14">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="olive">
                  <div class="produt-wrap">
                    <a href="/product-detail/15 ">
                      <img src="../product_images/tshirt2_olive.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="15">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/15">
                        <h6>tshirt2 olive</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£74.80</span>
                          <span class="mrp-price">
                            £85</span>
                          <span class="discount-text">
                            (12% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="15">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="pink">
                  <div class="produt-wrap">
                    <a href="/product-detail/16 ">
                      <img src="../product_images/tshirt2_pink.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="16">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/16">
                        <h6>tshirt2 pink</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£74.80</span>
                          <span class="mrp-price">
                            £85</span>
                          <span class="discount-text">
                            (12% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="16">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="white">
                  <div class="produt-wrap">
                    <a href="/product-detail/17 ">
                      <img src="../product_images/tshirt2_white.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="17">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/17">
                        <h6>tshirt2 white</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£74.80</span>
                          <span class="mrp-price">
                            £85</span>
                          <span class="discount-text">
                            (12% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="17">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="maroon">
                  <div class="produt-wrap">
                    <a href="/product-detail/18 ">
                      <img src="../product_images/tshirt3_maroon.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="18">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/18">
                        <h6>tshirt3 maroon</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£80.75</span>
                          <span class="mrp-price">
                            £95</span>
                          <span class="discount-text">
                            (15% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="18">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="old_rose">
                  <div class="produt-wrap">
                    <a href="/product-detail/19 ">
                      <img src="../product_images/tshirt3_old_rose.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="19">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/19">
                        <h6>tshirt3 Old Rose</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£80.75</span>
                          <span class="mrp-price">
                            £95</span>
                          <span class="discount-text">
                            (15% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="19">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="product-item" data-color="steel_grey">
                  <div class="produt-wrap">
                    <a href="/product-detail/20 ">
                      <img src="../product_images/tshirt3_steel_grey.webp " class="pro-img" alt="">
                    </a>
                  </div>
                  <div class="product-add-to-card-wrap">
                    <button class="add-to-cart" data-product-id="20">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                      Add to Cart
                    </button>
                  </div>
                  <div class="product-details shop-content">
                    <div class="product-nameprice">
                      <a href="/product-detail/20">
                        <h6>tshirt3 Steel Grey</h6>
                        <p class="product-short-desc">
                          Lorem ipsum dolor sit...
                        </p>
                      </a>

                      <div class="product-price">
                        <h5>
                          <span class="final-price">£80.75</span>
                          <span class="mrp-price">
                            £95</span>
                          <span class="discount-text">
                            (15% OFF
                            )</span>
                        </h5>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a class="add-to-favorites" data-product-id="20">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- BESTSELLER -->
        <section class="mt-80">
          <div class="custom-container">
            <div class="alfa-bestsellerl">
              <div class="alfa-title">
                <h3>Best Seller</h3>
                <p>Preorder nor to receive exclusive deals & gifts</p>
              </div>
              <div id="bestseller-carousel" class="bestseller-wrapper owl-carousel comman-nav">
                <div class="product-item">
                  <div class="produt-wrap">
                    <img src="assets/images/alfa_products/shirt2.png" class="pro-img" alt="">
                  </div>
                  <div class="product-details">
                    <div class="product-nameprice">
                      <h6>Alfa Mens Shirt</h6>
                      <div class="product-price">
                        <h4>£42.00</h4>
                      </div>
                      <div class="product-rating">
                        <ul>
                          <li>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a href=""><i class="fa-regular fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="produt-wrap">
                    <img src="assets/images/alfa_products/shirt2.png" class="pro-img" alt="">
                  </div>
                  <div class="product-details">
                    <div class="product-nameprice">
                      <h6>Alfa Mens Shirt</h6>
                      <div class="product-price">
                        <h4>£42.00</h4>
                      </div>
                      <div class="product-rating">
                        <ul>
                          <li>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a href=""><i class="fa-regular fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- TESTIMONIAL -->
        <section class="mt-80">
          <div class="container">
            <div id="testimonial-carousel" class="alfa-testimonila owl-carousel comman-nav">
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    luctus sem ultrices ipsum porta hendrerit. Praesent a
                    pellentesque lorem. Etiam feugiat commodo risus, vitae
                    tincidunt neque faucibus sed
                  </h4>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <img src="assets/images/testimonial.png" alt="" />
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Jon battler</h5>
                        <h6 class="designation">Fashion designer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- PARTNER -->
        <section class="mt-80">
          <div class="partner-wrapper">
            <div class="container">
              <div id="partner-carousel" class="partner-wrap-grid owl-carousel comman-nav">
                <div class="partner-item">
                  <img src="assets/images/brand.png" class="partner-img" alt="">
                </div>
                <div class="partner-item">
                  <img src="assets/images/brand02.png" class="partner-img" alt="">
                </div>
                <div class="partner-item">
                  <img src="assets/images/brand03.png" class="partner-img" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- FOOTER -->
        <%- include('includes/footer') %>
          <!-- END -->
      </div>
  </div>
  <%- include('includes/foot') %>

    <script>

    </script>
    <script>
      $(document).ready(function () {
        $("#hero-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#bestseller-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            350: {
              items: 2,
            },
            400: {
              items: 2,
            },
            600: {
              items: 3,
            },
            1000: {
              items: 6,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#testimonial-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#partner-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            400: {
              items: 3,
            },
            600: {
              items: 4,
            },
            1000: {
              items: 7,
            },
          },
        });
      });
    </script>

    </div>
    <%- include('includes/foot') %>

</body>

</html>