<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alfa Meanswear | Home</title>
  <meta name="robots" content="noindex">

  <%- include('includes/head') %>

</head>

<body>
  <!-- Loader -->
  <div class="page-loader" id="loader">
    <div class="spinner">
      <div class="inner"></div>
    </div>
  </div>

  <div class="alfa-main-wraper" id="web-content">
    <%- include('includes/header') %>
      <div class="mt-100 mt-700">
        <!-- HERO SECTION -->
        <section class="hero-section position-relative">
          <div id="hero-carousel" class="owl-carousel comman-nav">
            <div class="items hero-sec-items" style="background-color: #F9CF2D1A;">
              <div class="container">
                <div class="row position-relative" style="z-index: 999;">
                  <div class="col-md-6">
                    <div class="alfa-hero-left-wrapper">
                      <div class="alfa-text">
                        <h6><span></span> men wear</h6>
                      </div>
                      <div class="alfa-main-title">
                        <h3>Alfa Meanswear <br> Accessories</h3>
                      </div>
                      <div class="alfa-discover-btn">
                        <a href="" class="alfa-btn">Discover Now <img src="assets/images/arrow-right.png" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 hero-image-center">
                    <div class="alfa-banners">
                      <div class="alfa-circle">
                        <img src="assets/images/Ellipse1.png" alt="">
                      </div>
                      <div class="alfa-main-image">
                        <img src="assets/images/man-shirt.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- END -->
        <!-- FEATURES START -->
        <div class="hero-meanswear d-none">
          <h2>Menswear</h2>
        </div>
        </section>
        <!-- END -->
        <!-- FEATURES SECTION -->
        <section class="feature-section mt-80">
          <div class="custom-container">
            <div class="features-row">
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/shipping.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Free Shipping</h5>
                  <p>From all orders over $100</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/quality.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Quality Support</h5>
                  <p>24/7 online feedback</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/return.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Return &amp; Refund</h5>
                  <p>Return money within 30 days</p>
                </div>
              </div>
              <div class="feature-box">
                <div class="feature-icon">
                  <img src="assets/images/gift-voucher.png" alt="">
                </div>
                <div class="features-content">
                  <h5>Gift Voucher</h5>
                  <p>20% off when you shop online</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- SELLING SECTION -->
        <section class="mt-80">
          <div class="offer-wrapper">
            <div class="offer-wrap">
              <div class="offer-left-wrap">
                <div class="offer-images">
                  <div><img src="assets/images/offer-circle.png" class="offer-circle" alt=""></div>
                  <div class="offer-combo">
                    <img src="assets/images/offer.png" class="combo-img" alt="">
                  </div>
                </div>
                <div class="offer-text-wrap position-relative">
                  <div class="offer-content">
                    <p>Alfa Menswear</p>
                  </div>
                  <div class="offer-item-name">
                    <h2>Trouser</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="offer-wrap-right">
              <div>
                <div class="offer-right-text">
                  <a href=""> Sale up to</a>
                </div>
                <div class="offer-percentage">
                  <h3>40%</h3>
                  <p>Off everything</p>
                </div>
                <div class="offer-shop-now">
                  <a href="">Shop Now <img src="assets/images/subs-arrow.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- NEW ARRIVAL -->
        <section class="mt-80">
          <div class="custom-container">
            <div class="alfa-new-arrival">
              <div class="alfa-title">
                <h3>New Arrivals</h3>
                <p>Preorder nor to receive exclusive deals & gifts</p>
              </div>
              <div class="arrival-wrapper">
                <% lastProducts.forEach(product=> { %>
                  <div class="product-item product-item-2" data-color="<%= product.color %>">
                    <div class="produt-wrap">
                      <a href="/product-detail/<%= product.id %>">
                        <img src="../product_images/<%= product.product_main_image %>" class="pro-img" alt="">
                      </a>
                    </div>
                    <div class="product-add-to-card-wrap">
                      <button class="add-to-cart" data-product-id="<%= product.id %>">
                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                        Add to Cart
                      </button>
                    </div>
                    <div class="product-details shop-content">
                      <div class="product-nameprice">
                        <a href="/product-detail/<%= product.id %>">
                          <h6>
                            <%= product.name %>
                          </h6>
                          <p class="product-short-desc">
                            <%= product.product_description.substring(0, 20) %>...
                          </p>
                        </a>
                        <div class="product-price">
                          <h5>
                            <span class="final-price">£<%= (product.product_price * (1 - product.discount_on_product /
                                100)).toFixed(2) %></span>
                            <span class="mrp-price">£<%= product.product_price %></span>
                            <span class="discount-text">(<%= product.discount_on_product %> OFF)</span>
                          </h5>
                        </div>
                      </div>
                      <div class="product-btn">
                        <div class="pro-whishlist">
                          <a class="add-to-favorites" data-product-id="<%= product.id %>">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>

              </div>
            </div>
        </section>
        <!-- END -->
        <!-- BESTSELLER -->
        <section class="mt-80">
          <div class="custom-container">
            <div class="alfa-bestsellerl">
              <div class="alfa-title">
                <h3>Best Seller</h3>
                <p>Preorder nor to receive exclusive deals & gifts</p>
              </div>
              <div id="bestseller-carousel" class="bestseller-wrapper owl-carousel comman-nav">
                <% bestSellers.forEach(product=> { %>
                  <div class="product-item product-item-2">
                    <div class="produt-wrap">
                      <img src="../product_images/<%= product.product_main_image %>" class="pro-img" alt="">

                    </div>
                    <div class="product-details">
                      <div class="product-nameprice">
                        <h6>
                          <%= product.name %>
                        </h6>
                        <div class="product-price">
                          <span class="final-price">£<%= (product.product_price * (1 - product.discount_on_product /
                              100)).toFixed(2) %></span>
                          <span class="mrp-price">£<%= product.product_price %></span>
                          <span class="discount-text">(<%= product.discount_on_product %> OFF)</span>
                        </div>
                        <div class="product-rating">
                          <ul>
                            <li>
                              <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                              <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                              <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                              <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                              <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="product-btn">
                        <div class="pro-whishlist">
                          <a class="add-to-favorites" data-product-id="<%= product.id %>">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>

            </div>
          </div>
        </section>
        <!-- END -->
        <!-- TESTIMONIAL -->
        <section class="mt-80">
          <div class="container">
            <div id="testimonial-carousel" class="alfa-testimonila owl-carousel comman-nav">
              <div class="testimonial-warpper">
                <div class="test-quotes">
                  <img src="assets/images/quotes.png" class="quotes-img" alt="" />
                </div>
                <div class="testimonial-content">
                  <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    luctus sem ultrices ipsum porta hendrerit. Praesent a
                    pellentesque lorem. Etiam feugiat commodo risus, vitae
                    tincidunt neque faucibus sed
                  </h4>
                  <div class="testimonial-details">
                    <div class="test-image">
                      <img src="assets/images/testimonial.png" alt="" />
                    </div>
                    <div class="test-d-wrap">
                      <div class="test-name">
                        <h5 class="name">Jon battler</h5>
                        <h6 class="designation">Fashion designer</h6>
                      </div>
                      <ul class="testimonial-rating">
                        <li>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                          <a href=""><img src="assets/images/star.png" class="star-icon" alt="" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- PARTNER -->
        <section class="mt-80">
          <div class="partner-wrapper">
            <div class="container">
              <div id="partner-carousel" class="partner-wrap-grid owl-carousel comman-nav">
                <div class="partner-item">
                  <img src="assets/images/brand.png" class="partner-img" alt="">
                </div>
                <div class="partner-item">
                  <img src="assets/images/brand02.png" class="partner-img" alt="">
                </div>
                <div class="partner-item">
                  <img src="assets/images/brand03.png" class="partner-img" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- FOOTER -->
        <%- include('includes/footer') %>
          <!-- END -->
      </div>
  </div>
  <%- include('includes/foot') %>


    <script>
      $(document).ready(function () {
        $("#hero-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#bestseller-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            350: {
              items: 2,
            },
            400: {
              items: 2,
            },
            600: {
              items: 3,
            },
            1000: {
              items: 6,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#testimonial-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#partner-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 3,
            },
            600: {
              items: 4,
            },
            1000: {
              items: 7,
            },
          },
        });
      });
    </script>

    </div>
    <%- include('includes/foot') %>

</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const addToFavoritesButtons = document.querySelectorAll(".add-to-favorites");

    addToFavoritesButtons.forEach((button) => {
      button.addEventListener("click", function () {
        const productId = button.getAttribute("data-product-id");

        // Send AJAX request to the server
        fetch(`/favorites/add/${productId}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
          credentials: "same-origin", // include cookies
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            if (data.success) {
              // Show popup alert
              alert(data.message);

              // Update wishlist count in the span
              const wishlistLi = document.querySelector("#wishlist");
              if (wishlistLi) {
                const countTextSpan = wishlistLi.querySelector(".count-text");
                if (countTextSpan) {
                  countTextSpan.textContent = data.favoritesCount;
                }
              }
            } else {
              if (data.message === "Login First") {
                window.location.href = "/login"; // Redirect to login page if not logged in
              }
            }
          })
          .catch((error) => {
            console.error("There was a problem with the fetch operation:", error);
            // Handle error
            alert("An error occurred while adding the product to favorites");
          });
      });
    });
  });
</script>

</html>