<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | My Cart</title>
    <%- include('includes/head') %>

    <script src="https://cdn.jsdelivr.net/npm/slugify@1.5.0/slugify.min.js"></script>

    <style>
      .product-size-list .selected {
        background-color: #381818; /* Example background color */
        border: 1px solid #801212; /* Example border */
        color: #a8bba4; /* Example text color */
        /* Add any other styling as needed */
      }
    </style>
  </head>

  <body>
    <div class="alfa-main-wraper">
      <%- include('includes/header') %>
      <div class="mt-100 mt-150">
        <div class="checkout-wrapper margin-160">
          <div class="container">
            <div class="checkout-title">
              <h3>Shopping Cart</h3>
            </div>
            <div class="container mt-3">
              <form id="orderForm" action="place-order" method="post">
                <div class="row">
                  <div class="col-md-7">
                    <div class="alfa-cart-items cart-right-wrap">
                      <div class="cart-table">
                        <div class="cart-tbody" id="cart-pricing">
                          <% let totalPrice = 0; let totalDiscount = 0;
                          cartItems.forEach((item, index) => { const price =
                          parseFloat(item.product_price); const discount =
                          parseFloat(item.discount_on_product) || 0; const
                          quantity = parseInt(item.quantity); totalPrice +=
                          price * quantity; totalDiscount += (price * discount /
                          100); %>

                          <div class="cart-tr cart-b-tr">
                            <div class="cart-td">
                              <div class="cart-items-left">
                                <div class="cart-delete">
                                  <a
                                    href="/delete-product/<%= item.product_id  %>"
                                    class="delete-product"
                                  >
                                    <span
                                      ><i class="fa-regular fa-circle-xmark"></i
                                    ></span>
                                  </a>
                                </div>

                                <div class="cart-image">
                                  <img
                                    src="../product_images/<%=item.product_main_image  %>"
                                    class="cart-img"
                                    alt=""
                                  />
                                </div>

                                <div class="pro-cart-contents">
                                  <div class="pro-cart-title">
                                    <h3><%= item.product_name %></h3>
                                  </div>
  

                                  <div class="product-size-list">

                                    <span class="cart-short-text" data-product-id="<%= item.product_id %>" data-selected-size="<%= item.selected_size %>">
                                      Select Size : <%= item.selected_size %>
                                    </span>

                                    <div class="product-size-list">
                                      <!-- <span class="cart-short-text">Select Size : <%= item.selected_size %></span> -->
                                      <ul id="sizeList-<%= item.product_id %>" class="size-list">
                                        <% if (item.sizes && Object.keys(item.sizes).length > 0) { %>
                                          <% for (const [size, stock] of Object.entries(item.sizes)) { %>
                                            <% if (item.wear_type_bottom_or_top === 'bottom') { %>
                                              <% const numericSize = size.replace('size_', ''); %>
                                              <% if (stock && numericSize.length > 0) { %>
                                                <li>
                                                  <input type="radio" id="size-<%= item.product_id %>-<%= numericSize %>" name="selectedSize-<%= item.product_id %>" value="<%= numericSize %>" <%= stock > 0 ? '' : 'disabled' %> <%= item.selected_size.toLowerCase() === numericSize.toLowerCase() ? 'checked' : '' %> required />
                                                  <label style="width: 40px; height: 40px" for="size-<%= item.product_id %>-<%= numericSize %>" class="size-item <%= stock > 0 ? '' : 'disabled' %>">
                                                    <span class="size"><%= numericSize %></span>
                                                  </label>
                                                </li>
                                              <% } %>
                                            <% } else { %>
                                              <% if (stock) { %>
                                                <li>
                                                  <input type="radio" id="size-<%= item.product_id %>-<%= size %>" name="selectedSize-<%= item.product_id %>" value="<%= size.toUpperCase() %>" <%= stock > 0 ? '' : 'disabled' %> <%= item.selected_size.toLowerCase() === size.toLowerCase() ? 'checked' : '' %> required />
                                                  <label style="width: 40px; height: 40px" for="size-<%= item.product_id %>-<%= size %>" class="size-item <%= stock > 0 ? '' : 'disabled' %>">
                                                    <span class="size"><%= size.toUpperCase() %></span>
                                                  </label>
                                                </li>
                                              <% } %>
                                            <% } %>
                                          <% } %>
                                        <% } else { %>
                                          <p>Currently Out Of Stock</p>
                                        <% } %>
                                      </ul>
                                    </div>
                                    
                                  </div>
                                  <div class="new-cart-quantity">
                                    <span class="cart-short-text"
                                      >Quantity :
                                      <span id="quantity-display-<%= item.id %>"
                                        ><%=item.quantity %></span
                                      ></span
                                    >
                                    <div class="cart-quantity-wrapper">
                                      <div class="left-input">
                                        <span class="decrement" id="minus">
                                          <i class="fa-solid fa-minus"></i>
                                        </span>
                                      </div>
                                      <div class="cart-quantity">
                                        <input
                                          type="text"
                                          name="product_quantity"
                                          value="<%=item.quantity %>"
                                          class="cart-value"
                                          data-product-id="<%= item.id %>"
                                          id="quantity-js"
                                        />
                                      </div>
                                      <div class="right-input">
                                        <span class="increment">
                                          <i class="fa-solid fa-plus"></i>
                                        </span>
                                      </div>
                                    </div>

                                    <div class="product-limit-msg">
                                      <span>Maximum quantity reached </span>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <input
                              type="hidden"
                              name="products[<%=index%>][productId]"
                              value="<%= item.product_id %>"
                            />
                            <input
                              type="hidden"
                              name="products[<%=index%>][price]"
                              value="<%= item.product_price %>"
                            />
                            <div class="cart-td position-relative">
                              <div class="pro-cart-price">
                                <h5>
                                  <span
                                    class="mrp-price"
                                    style="font-size: 18px"
                                  >
                                    £<%=item.product_price %></span
                                  >
                                  <span class="final-prices"
                                    >£<%=(item.product_price * (1 -
                                    (item.discount_on_product /
                                    100))).toFixed(2) %>
                                  </span>
                                  <span
                                    class="discount-text"
                                    style="font-size: 16px"
                                  >
                                    (<%=item.discount_on_product %>% OFF )</span
                                  >
                                </h5>
                              </div>
                              <div class="move-to-wishlist">
                                <a href="">Move To Wishlist</a>
                              </div>
                            </div>
                          </div>
                          <% }); const GST = totalPrice * 0.2; const deliveryFee
                          = 25; const totalCost = totalPrice + GST + deliveryFee
                          - totalDiscount; %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="alfa-offcanvas-footer cart-left-wrap">
                      <div class="checkout-title">
                        <h4>Order Summary</h4>
                      </div>
                      <div class="promo-code-wrap">
                        <input
                          type="text"
                          class="promo-input"
                          placeholder="Promo Code"
                        />
                        <button type="submit" class="apply-btn" name="submit">
                          Apply
                        </button>
                      </div>

                      <div class="alfa-cart-total">
                        <ul>
                          <li>
                            <div class="alfa-text">Sub-Total</div>
                            <div class="alfa-price">
                              £
                              <span id="totalPrice-ajax"
                                ><%= totalPrice %></span
                              >
                            </div>
                          </li>

                          <li>
                            <div class="alfa-text">Total Discount</div>
                            <div class="alfa-price">
                              - £
                              <span id="totalDiscount-ajax"
                                ><%= totalDiscount %></span
                              >
                            </div>
                          </li>

                          <li>
                            <div class="alfa-text">GST</div>
                            <div class="alfa-price">
                              £ <span id="GST-ajax"><%= GST %></span>
                            </div>
                          </li>
                          <li>
                            <div class="alfa-text">Delivery Fee</div>
                            <div class="alfa-price">
                              £
                              <span id="Delivery-ajax"><%= deliveryFee %></span>
                            </div>
                          </li>
                        </ul>
                      </div>

                      <div class="alfa-cart-total">
                        <ul>
                          <li>
                            <div class="alfa-text">Total Cost</div>
                            <div class="alfa-price">
                              £
                              <span id="totalCost-ajax"><%= totalCost %></span>
                            </div>
                          </li>
                        </ul>
                      </div>

                      <hr />

                      <div class="address-title text-center">
                        <h3>Address</h3>
                        <% if (addresses && addresses.length > 0) { %>
                        <div id="addressDetails">
                          <label for="address_id"
                            >Select Address for Delivery:</label
                          >
                          <select name="address_id" id="address_id" required>
                            <% addresses.forEach(address => { %>
                            <option value="<%= address.id %>">
                              <%= address.name %> - <%= address.address_title %>
                              - <%= address.city %>
                            </option>
                            <% }); %>
                          </select>
                        </div>
                        <% } else { %>
                        <p>
                          No addresses available. Please add an address to
                          proceed with your order.
                        </p>
                        <% } %>
                      </div>

                      <br />

                      <div class="alfa-checkout-wrapper">
                        <button type="submit" class="checkout-btn">
                          Proceed to Checkout
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <input
                  type="hidden"
                  name="subtotal"
                  value="<%= totalPrice %>"
                />
                <input type="hidden" name="gst" value="<%= GST %>" />
                <input
                  type="hidden"
                  name="deliveryFee"
                  value="<%= deliveryFee %>"
                />
                <input
                  type="hidden"
                  name="totalCost"
                  value="<%= totalCost %>"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- <%=JSON.stringify(cartItems) %> -->
      <!-- Footer -->
      <%- include('includes/footer') %>
      <!-- End -->
    </div>
    <%- include('includes/foot') %>
  </body>
</html>
