<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | My Cart</title>
    <%- include('includes/head') %>
  </head>
  <body>
    <div class="alfa-main-wraper">
      <%- include('includes/header') %>
      <div class="mt-100 mt-150">
        <div class="checkout-wrapper margin-160">
          <div class="container">
            <div class="checkout-title">
              <h3>Shoping Cart</h3>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="alfa-cart-items cart-right-wrap">
                    <div class="cart-table">
                      <div class="cart-tbody">
                        <% if (wishlistItems.length > 0) { %> <%
                        wishlistItems.forEach(item => { %>
                          <form action="move-to-cart" method="post">
                            <div class="cart-tr cart-b-tr">
                                 <input type="hidden" name="product_id" value="<%=item.id  %>">
                                <div class="cart-td">
                                  <div class="cart-items-left">
                                <div class="cart-delete" data-product-id="1" >
                                      <a href="#" class="delete-product" ><span><i
                                            class="fa-regular fa-circle-xmark"></i></span ></a>
                                    </div>  
                                     <div class="cart-image">
                                      <img src="../product_images/<%=item.product_main_image  %>" class="cart-img" alt="">
                                    </div>
                                    <div class="pro-cart-contents">
                                      <div class="pro-cart-title">
                                        <h3><%=item.product_name %></h3>
                                      </div>
<style>
  input[type="radio"] {
    display: none;
}
 
</style>
                                      <div class="product-size-list">
                                        <span class="cart-short-text">Select Size</span>
                                        <ul>
                                          <% if (item.sizes && Object.keys(item.sizes).length > 0) { %>
                                            <% Object.entries(item.sizes).forEach(([size, stock]) => { %>
                                              <% if (item.wear_type_bottom_or_top === 'bottom') { %>
                                                <% const numericSize = size.replace('size_', ''); %>
                                                <% if (stock && numericSize.length > 0) { %>
                                                  <li>
                                                    <input class="size-radio"  type="radio" id="size-<%= item.product_id %>-<%= numericSize %>" name="selectedSize" value="<%= numericSize %>" <%= stock > 0 ? '' : 'disabled' %> required />
                                                    <label for="size-<%= item.product_id %>-<%= numericSize %>" class="size-item <%= stock > 0 ? '' : 'disabled' %>"><%= numericSize %></label>
                                                  </li>
                                                <% } %>
                                              <% } else { %>
                                                <% if (stock) { %>
                                                  <li>
                                                    <input class="size-radio"  type="radio" id="size-<%= item.product_id %>-<%= size %>" name="selectedSize" value="<%= size.toUpperCase() %>" <%= stock > 0 ? '' : 'disabled' %> required />
                                                    <label for="size-<%= item.product_id %>-<%= size %>" class="size-item <%= stock > 0 ? '' : 'disabled' %>"><%= size.toUpperCase() %></label>
                                                  </li>
                                                <% } %>
                                              <% } %>
                                            <% }); %>
                                          <% } else { %>
                                            <li>Currently Out Of Stock</li>
                                          <% } %>
                                        </ul>
                                      </div>
                                       <div class="new-cart-quantity">
                                        <span class="cart-short-text">Quantity</span>
                                        <div class="cart-quantity-wrapper cart-wrapper">
                                          <div class="left-input">
                                            <span class="decrement"><i class="fa-solid fa-minus"></i></span>
                                          </div>
                                          <div class="cart-quantity">
                                            <input type="text" value="1" class="cart-value" name="quantity" data-product-id="<%= item.product_id %>" readonly>
                                          </div>
                                          <div class="right-input">
                                            <span class="increment"><i class="fa-solid fa-plus"></i></span>
                                          </div>
                                        </div>
                                        <div class="product-limit-msg" style="display:none; color: red;">
                                          <span></span>
                                        </div>
                                      </div>
                                      

                                    </div>
                                  </div>
                                </div>
                                <input type="hidden" name="products[0][productId]" value="1">
                                <input type="hidden" name="products[0][price]" value="100">
                                <div class="cart-td position-relative">
                                  <div class="pro-cart-price">
                                    <h5>
                                        <span class="mrp-price">
                                          £<%=item.product_price %></span
                                        >
                                        <span class="final-prices"
                                          >£<%=(item.product_price * (1 -
                                          (item.discount_on_product /
                                          100))).toFixed(2) %>
                                        </span>
                                        <span class="discount-text"  >
                                          (<%=item.discount_on_product %>% OFF )</span>
                                      </h5>
                                  </div>
                                  <div class="move-to-wishlisst">
                                    <button  type="submit" class="cart-btn add-to-cart wishlist-addcart"data-action="addToCart" data-url="/add-to-cart">
                                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                                        Add to Cart
                                      </button>
                                  </div>
                                </div>
                               </div>
                              </form>
                        <% }) %> <% } else { %>
                        <div class="wishlist-tr wishlist-b-tr">
                          <div class="wishlist-td" colspan="3">
                            <p>Your wishlist is empty.</p>
                          </div>
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include('includes/footer') %>
      <!-- End -->
    </div>
    <%- include('includes/foot') %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const sizeRadios = document.querySelectorAll('.size-radio');

    sizeRadios.forEach(function(radio) {
        radio.addEventListener('change', function() {
            // Remove 'selected' class from all size labels
            document.querySelectorAll('.size-item').forEach(function(label) {
                label.classList.remove('selected');
            });

            // Add 'selected' class to the associated label
            const selectedLabel = document.querySelector(`label[for="${this.id}"]`);
            if (selectedLabel) {
                selectedLabel.classList.add('selected');
            }
        });
    });
});

  </script>
    
  </body>
</html>
