<!DOCTYPE html>
<html lang="en">

<head>
  <base href="http://localhost:8081" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alfa Meanswear | Product Details</title>
  <%- include('includes/head') %>
</head>
<style>
  .full-stars .rating-group {
    display: inline-flex;
  }

  .full-stars input {
    position: absolute;
    left: -9999px;
  }

  .full-stars label {
    margin: 0;
    cursor: pointer;
  }

  .full-stars label svg {
    margin: 2px;
    height: 22px;
    width: 22px;
    fill: #F9CF2D;
    transition: fill 0.3s;
  }

  .full-stars input:checked~label svg {
    fill: #e4d79c;
  }

  .full-stars .rating-group:hover label svg {
    fill: #F9CF2D;
  }

  .full-stars .rating-group input:hover~label svg {
    fill: #e4d79c;
  }
</style>

<body>
  <div class="alfa-main-wraper">
    <%- include('includes/header') %>
      <div class="mt-100 mt-150">
        <div class="checkout-wrapper margin-180">
          <div class="container">
            <div class="checkout-title text-center">
              <h3>Order Information</h3>
              <h6>Order ID: <%=order.order_id %>
              </h6>
            </div>

            <div class="checkout-title text-left">
              <h3>Order Status</h3>
              <h6>
                <%=order.order_status %>
              </h6>
            </div>

            <div class="row mt-5">
              <div class="col-md-6">
                <div class="alfa-checkout-address">
                  <div class="order-proccess-wrapper">
                    <div class="process-wrapper">
                      <div class="process-item process-active">
                        <div class="proccess-text-center">
                          <div>
                            <span><i class="fa-solid fa-file-invoice"></i></span>
                            <h6 class="order-placed">Order Placed</h6>
                          </div>
                        </div>
                      </div>
                      <div class="process-item process-active">
                        <div class="proccess-text-center">
                          <span><i class="fa-solid fa-cube"></i></span>
                          <h6 class="processing">Processing</h6>
                        </div>
                      </div>
                      <div class="process-item">
                        <div class="proccess-text-center">
                          <span><i class="fa-solid fa-truck"></i></span>
                          <h6 class="on-road">On The Road</h6>
                        </div>
                      </div>
                      <div class="process-item">
                        <div class="proccess-text-center">
                          <span><i class="fa-regular fa-handshake"></i></span>
                          <h6 class="delivered">Delivered</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="shiping-title">
                    <h5>Delivery Address </h5>
                  </div>
                  <div class="shipping-address">
                    <div class="shipping-address-display">
                      <div class="address-content">
                        <div class="shipper-name">
                          <%=address.name %>
                        </div>
                        <div class="shipper-email">
                          <p>
                            <%=address.email %>
                          </p>
                          <p>+44 <%=address.phone %>
                          </p>
                        </div>
                        <div class="shipper-address">
                          <%=address.full_address%> , <%=address.locality %> , <%=address.city %> , <%=address.state %>
                                  , <%=address.pincode %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-md-6">
                <div class="checkout-item-wrapper">
                  <div class="item-counts">
                    <div class="counts">
                      <h6>
                        <%= orderItems.length %> Item
                      </h6>
                    </div>
                  </div>
                  <div class="checkout-cart-wrapper">
                    <div class="checkout-wrapp">
                      <% orderItems.forEach(item=> { %>
                        <div>
                          <div class="check-item">
                            <div class="check-item-left">
                              <div class="check-item-image">
                                <img src="../product_images/<%=item.product_main_image %>" class="check-image" alt="" />
                              </div>
                              <div class="checkout-cont">
                                <h4>
                                  <%=item.product_name %>
                                </h4>
                                <div class="checkout-rest-cont">
                                  <p>Color : <%=item.colour %>
                                  </p>
                                  <p>Size : <%=item.size %>
                                  </p>
                                  <p>Qty : <%=item.quantity %>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="check-item-right">
                              <div class="review-btn-wrap">
                                <a href="" data-bs-toggle="modal" data-bs-target="#writeReview<%=item.id %>">Write
                                  Review</a>
                              </div>
                              <div class="check-price">
                                <h3>£ <%=item.price %>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Review Add Model -->
                        <form action="/submit-review" method="post">
                          <div class="modal" id="writeReview<%= item.id %>" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <input type="hidden" name="orderItemId" value="<%= item.id %>">
                              <input type="hidden" name="orderId" value="<%= item.order_id %>">
                              <input type="hidden" name="productId" value="<%= item.product_id %>">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title review-title" id="staticBackdropLabel">Write Review</h5>
                                  <button type="button" class="btn-closes" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa-solid fa-xmark"></i>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="review-offer-text">
                                    <h6><span><img src="assets/images/discount.png" alt=""></span> Rate a review to win
                                      alfa menswear discount</h6>
                                  </div>
                                  <div class="cart-tr review-pop">
                                    <div class="cart-td">
                                      <div class="cart-items-left" style="align-items: start;">
                                        <div class="cart-image">
                                          <img src="../product_images/<%= item.product_main_image %>"
                                            class="review-pro-img" alt="">
                                        </div>
                                        <div class="pro-cart-contents">
                                          <div class="pro-cart-title">
                                            <h3>
                                              <%= item.product_name%>
                                            </h3>
                                          </div>
                                          <div class="full-stars">
                                            <div class="rating-group">
                                              <% for (let i=1; i <=5; i++) { %>
                                                <input name="rating" id="fst-<%= item.id %>-<%= i %>" value="<%= i %>"
                                                  type="radio" />
                                                <label for="fst-<%= item.id %>-<%= i %>">
                                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                    <path
                                                      d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                  </svg>
                                                </label>
                                                <% } %>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="review-textarea">
                                    <div class="form-group">
                                      <label for="review">Write a review</label>
                                      <textarea name="review" class="form-control"
                                        style="margin: 5px 0; height: 100px;"></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="alfa-btn alfa-review-btn">Submit</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>

                        <% }); %>
                    </div>
                    <div class="alfa-cart-total">
                      <ul>
                        <li>
                          <div class="alfa-text">Total MRP</div>
                          <div class="alfa-price">£ <%=order.total_mrp %>
                          </div>
                        </li>

                        <li>
                          <div class="alfa-text">Discount on MRP</div>
                          <div class="alfa-price">
                            £ <%=order.discount_amount %>
                          </div>
                        </li>

                        <li>
                          <div class="alfa-text">Sub Total</div>
                          <div class="alfa-price">
                            <%=order.sub_total %>
                          </div>
                        </li>

                        <li>
                          <div class="alfa-text">Vat ( 20% )</div>
                          <div class="alfa-price">£ <%=order.vat %>
                          </div>
                        </li>

                        <li>
                          <div class="alfa-text">Delivery Fee</div>
                          <div class="alfa-price">
                            <%=order.delivery_charges %>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="alfa-cart-total">
                      <ul>
                        <li>
                          <div class="alfa-text">Total Cost</div>
                          <div class="alfa-price">
                            £ <%=order.total_payable %>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="alfa-checkout-wrapper">
                      <a href="/cancel-order/<%=order.order_id  %>">
                        <button type="button" class="checkout-btn">
                          CANCEL ORDER
                        </button>
                      </a>
                    </div>

                    <br />

                    <div class="alfa-checkout-wrapper">
                      <a href="/return-order/<%=order.order_id  %>">
                        <button type="button" class="checkout-btn">
                          RETURN ORDER
                        </button>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include('includes/footer') %>
        <!-- End -->
  </div>
  <%- include('includes/foot') %>
</body>

</html>