<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Order Confirmation</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        <div class="mt-100 mt-150">
            <div class="checkout-wrapper margin-160">
                <div class="container">
                    <div class="checkout-title text-center">
                        <h3>Order Confirmation</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="alfa-checkout-address">
                                <div class="order-content-wrap">
                                    <p><span class="check-out"><img src="assets/images/check.png" alt=""></span> Your order #<%= orderDetails.order_id %> has been placed.</p>
                                </div>
                                <div class="order-confirm-content">
                                    <p>We sent an email to <%= user.email %> with your order confirmation and bill.</p>
                                    <p>Time placed: <%= orderDetails.created_at %></p>
                                </div>

                                <div class="shiping-title">
                                    <h5>Shipping</h5>
                                </div>

                                <div class="shipping-address">
                                    <div class="shipping-address-display">
                                        <div class="address-content">
                                            <div class="shipper-name"> <%= orderDetails.name %> </div>
                                            <div class="shipper-email">
                                                <p><%= orderDetails.email %> </p>
                                                <p><%= orderDetails.phone %> </p>
                                            </div>
                                            <div class="shipper-address">
                                                <%= orderDetails.full_address %>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="assets/images/back.png" class="arrow-right" alt="">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="shipping-address">
                                    <div class="shipping-address-display">
                                        <div class="address-content">
                                            <div class="shipper-name"> <%= user.name %> </div>
                                            <div class="shipper-email">
                                                <p><%= user.email %> </p>
                                                <p><%= user.phone %> </p>
                                            </div>
                                            <div class="shipper-address">
                                                <%= user.address %>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="assets/images/back.png" class="arrow-right" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-item-wrapper mt-5">
                                <div class="item-counts">
                                    <div class="counts">
                                        <h6><%= orderItems.length %> Items</h6>
                                    </div>
                                    <div class="items-timing">
                                        <span>Arrives by April 3 to April 9th</span>
                                    </div>
                                </div>
                                <div class="checkout-cart-wrapper">
                                    <div class="checkout-wrapp">
                                        <% orderItems.forEach(item => { %>
                                            <div class="check-item">
                                                <div class="check-item-left">
                                                    <div class="check-item-image">
                                                        <img src="../product_images/<%= item.product_main_image %>" class="check-image" alt="">
                                                    </div>
                                                    <div class="checkout-cont">
                                                        <h4> <%= item.product_name %> </h4>
                                                        <div class="checkout-rest-cont">
                                                            <p>Color: Blue</p>
                                                            <p>Size: <%= item.size %></p>
                                                            <p>Qty: <%= item.quantity %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="check-item-right">
                                                    <div class="check-price">
                                                        <h3>£ <%= item.price %></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                    <div class="alfa-cart-total">
                                        <ul>
                                            <li>
                                                <div class="alfa-text">Sub-Total</div>
                                                <div class="alfa-price"> £ <%= orderDetails.sub_total %></div>
                                            </li>
                                            <li>
                                                <div class="alfa-text">Vat (20%)</div>
                                                <div class="alfa-price">£ <%= orderDetails.vat %></div>
                                            </li> 
                                            <li>
                                                <div class="alfa-text">Delivery Fee</div>
                                                <div class="alfa-price">£ <%= orderDetails.delivery_charges %></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="alfa-cart-total">
                                        <ul>
                                            <li>
                                                <div class="alfa-text">Total Cost</div>
                                                <div class="alfa-price">£ <%= orderDetails.total_payable %></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="alfa-checkout-wrapper">
                                        <a href="/product">
                                            <button type="button" class="checkout-btn">Continue Shopping</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('includes/footer') %>
        <!-- End -->
    </div>
    <%- include('includes/foot') %>

</body>

</html>
