<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="http://localhost:8081" target="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | Home</title>
    <%- include('includes/head') %>
  </head>

  <body>
    <div class="alfa-main-wraper">
      <%- include('includes/header') %>
      <div class="mt-100">
        <!-- HERO SECTION -->
        <section class="hero-section position-relative">
          <div id="hero-carousel" class="owl-carousel comman-nav">
            <div class="items hero-sec-items" style="background-color: #f8f2e8">
              <div class="container">
                <div class="row position-relative" style="z-index: 999">
                  <div class="col-md-6">
                    <div class="alfa-hero-left-wrapper">
                      <div class="alfa-text">
                        <h6><span></span> men wear</h6>
                      </div>
                      <div class="alfa-main-title">
                        <h3>
                          Alfa Meanswear <br />
                          Accessories
                        </h3>
                      </div>
                      <div class="alfa-discover-btn">
                        <a href="" class="alfa-btn"
                          >Discover Now
                          <img src="assets/images/arrow-right.png" alt=""
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 hero-image-center">
                    <div class="alfa-banners">
                      <div class="alfa-circle">
                        <img src="assets/images/Ellipse1.png" alt="" />
                      </div>
                      <div class="alfa-main-image">
                        <img src="assets/images/man-shirt.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="hero-meanswear d-none">
            <h2>Menswear</h2>
          </div>
        </section>

        <section class="mt-80">
          <div class="container">
            <div class="alfa-new-arrival">
              <div class="alfa-title">
                <h4>categories: <%= category.category_name %></h4>

                <p>Preorder nor to receive exclusive deals & gifts</p>
              </div>
              <div class="arrival-wrapper">
                <% products.forEach(product => { %>
                <div class="product-item">
                  <div class="produt-wrap">
                    <a href="/product-detail/<%= product.id %>">
                      <img
                        src="../product_images/<%= product.product_main_image %>"
                        class="pro-img"
                        alt="<%= product.name %>"
                      />
                    </a>
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a
                          class="add-to-favorites"
                          data-product-id="<%= product.id %>"
                        >
                          <img
                            src="assets/images/heart.png"
                            alt="Add to Favorites"
                          />
                        </a>
                      </div>
                      <div class="pro-view">
                        <a href=""
                          ><img src="assets/images/eye.png" alt="View"
                        /></a>
                      </div>
                    </div>
                  </div>

                  <div class="product-details">
                    <h6><%= product.product_name %></h6>
                    <div class="product-price">
                      <h5>
                        <span class="mrp-price" style="font-size: 15px;">
                          £<%=product.product_price %>
                      </span>
                        <span class="final-price">£<%=(product.product_price * (1 - (product.discount_on_product / 100))).toFixed(2) %></span>
                         <!-- <span> (<%=product.discount_on_product %>% OFF )</span> -->
                      </h5>
                    </div>
                    <div class="product-btn">
                       <div class="pro-view">
                        <button
                          class="add-to-cart"
                          data-product-id="<%= product.id %>"
                        >
                          <img src="assets/images/cart.png" alt="Add to Cart" />
                        </button>
                      </div>
                    </div>
                    <div class="product-rating">
                      <ul>
                        <li>
                          <% for (let i = 0; i < 5; i++) { %>
                          <a href="">
                            <img  src="assets/images/star.png"  alt="Star Rating"
                            />
                          </a>
                          <% } %>
                          <a href="">
                            <span class="review-count">(120 Reviews)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
       
         <!-- BESTSELLER -->
        <section class="mt-80">
          <div class="container-fluid">
            <div class="alfa-bestsellerl">
              <div class="alfa-title">
                <h3>Best Seller</h3>
                <p>Preorder nor to receive exclusive deals & gifts</p>
              </div>
              <div
                id="bestseller-carousel"
                class="bestseller-wrapper owl-carousel comman-nav"
              >
                <div class="product-item">
                  <div class="produt-wrap">
                    <img src="assets/images/cat1.png" class="pro-img" alt="" />
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a href=""
                          ><img src="assets/images/heart.png" alt=""
                        /></a>
                      </div>
                      <div class="pro-view">
                        <a href=""
                          ><img src="assets/images/eye.png" alt=""
                        /></a>
                      </div>
                    </div>
                  </div>

                  <div class="product-details">
                    <h6>Shirt/ menswear</h6>
                    <div class="product-price">
                      <h4>£42.00</h4>
                    </div>
                    <div class="product-rating">
                      <ul>
                        <li>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="product-item">
                  <div class="produt-wrap">
                    <img src="assets/images/cat2.png" class="pro-img" alt="" />
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a href=""
                          ><img src="assets/images/heart.png" alt=""
                        /></a>
                      </div>
                      <div class="pro-view">
                        <a href=""
                          ><img src="assets/images/eye.png" alt=""
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-details">
                    <h6>Shirt/ menswear</h6>
                    <div class="product-price">
                      <h4>£42.00</h4>
                    </div>
                    <div class="product-rating">
                      <ul>
                        <li>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>

                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="produt-wrap">
                    <img src="assets/images/cat3.png" class="pro-img" alt="" />
                    <div class="product-btn">
                      <div class="pro-whishlist">
                        <a href=""
                          ><img src="assets/images/heart.png" alt=""
                        /></a>
                      </div>
                      <div class="pro-view">
                        <a href=""
                          ><img src="assets/images/eye.png" alt=""
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-details">
                    <h6>Shirt/ menswear</h6>
                    <div class="product-price">
                      <h4>£42.00</h4>
                    </div>
                    <div class="product-rating">
                      <ul>
                        <li>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                          <a href=""
                            ><img
                              src="assets/images/star.png"
                              class="star-icon"
                              alt=""
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
         
        <!-- PARTNER -->
        <section class="mt-80">
          <div class="partner-wrapper">
            <div class="container">
              <div
                id="partner-carousel"
                class="partner-wrap-grid owl-carousel comman-nav"
              >
                <div class="partner-item">
                  <img
                    src="assets/images/brand.png"
                    class="partner-img"
                    alt=""
                  />
                </div>
                <div class="partner-item">
                  <img
                    src="assets/images/brand02.png"
                    class="partner-img"
                    alt=""
                  />
                </div>
                <div class="partner-item">
                  <img
                    src="assets/images/brand03.png"
                    class="partner-img"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END -->
        <!-- FOOTER -->
        <%- include('includes/footer') %>
        <!-- END -->
      </div>
    </div>
    <%- include('includes/foot') %>

    <script>
      // Add event listener to the "Add to Favorites" button
      document.addEventListener("DOMContentLoaded", function () {
        const addToFavoritesButtons =
          document.querySelectorAll(".add-to-favorites");

        addToFavoritesButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const productId = button.getAttribute("data-product-id");

            // Send AJAX request to the server
            fetch(`/favorites/add/${productId}`, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
              credentials: "same-origin", // include cookies
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Network response was not ok");
                }
                return response.json();
              })
              .then((data) => {
                if (data.success) {
                  // Show popup alert
                  alert(data.message);

                  // Update wishlist count in the span
                  const wishlistLi = document.querySelector("#wishlist");
                  if (wishlistLi) {
                    const countTextSpan =
                      wishlistLi.querySelector(".count-text");
                    if (countTextSpan) {
                      countTextSpan.textContent =
                        "Wishlist " + data.favoritesCount;
                    }
                  }
                } else {
                  alert(data.message);
                }
              })
              .catch((error) => {
                console.error(
                  "There was a problem with the fetch operation:",
                  error
                );
                // Handle error
                alert(
                  "An error occurred while adding the product to favorites"
                );
              });
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const addToCartButtons = document.querySelectorAll(".add-to-cart");

        addToCartButtons.forEach((button) => {
          button.addEventListener("click", addToCart);
        });

        async function addToCart(event) {
          const productId = event.currentTarget.getAttribute("data-product-id");
          try {
            const response = await fetch(`/cart/add/${productId}`, {
              method: "GET",
            });
            const result = await response.json();
            if (result.success) {
              alert(result.message);
              // Update cart count in the span
              const cartLi = document.querySelector("#cart");
              if (cartLi) {
                const countTextSpan = cartLi.querySelector(".product-count");
                if (countTextSpan) {
                  countTextSpan.textContent = result.CartCount;
                }
              }
            } else {
              alert(result.message);
            }
          } catch (error) {
            console.error("Error:", error);
            alert("An error occurred while adding the product to cart");
          }
        }
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#hero-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#bestseller-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            350: {
              items: 2,
            },
            400: {
              items: 2,
            },
            600: {
              items: 3,
            },
            1000: {
              items: 6,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#testimonial-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
      $(document).ready(function () {
        $("#partner-carousel").owlCarousel({
          loop: true,
          margin: 20,
          nav: true,
          autoplay: true,
          navText: [
            '<i class="fa-solid fa-angle-left"></i>',
            '<i class="fa-solid fa-angle-right"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            400: {
              items: 3,
            },
            600: {
              items: 4,
            },
            1000: {
              items: 7,
            },
          },
        });
      });
    </script>
  </body>
</html>
