<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Meanswear | Product</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
  </head>

  <body>
    <div class="alfa-main-wraper">
      <%- include('includes/header') %>
      <div class="mt-100">
        <div class="product-banner">
          <div class="container">
            <div class="hero-product-row">
              <div class="product-col-6">
                <div class="breadcrubm-text">
                  <h2>Shop</h2>
                </div>
              </div>
              <div class="product-col-6">
                <div class="product-image">
                  <div class="back-cercle">
                    <span></span>
                  </div>
                  <div class="shop-images">
                    <img
                      src="assets/images/man-shirt.png"
                      class="shop-img"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start -->
        <section class="mt-80" style="margin-bottom: 145px">
          <div class="product-wrapper">
            <div class="custom-container">
              <div class="product-row">
                <div class="product-md-3">
                  <div class="product-left-wrapper">
                    <div class="product-search">
                      <div class="search-title">
                        <h4 class="product-h4">Search Products</h4>
                      </div>
                      <div class="product-search">
                        <span class="p-s-icon"
                          ><img src="assets/images/search.png" alt=""
                        /></span>
                        <input
                          type="search"
                          name="search"
                          class="product-search-control"
                          placeholder="Search for products"
                          id=""
                        />
                      </div>
                    </div>
                    <div class="product-category mt-4">
                      <div class="cat-title">
                        <h4 class="product-h4">Categories</h4>
                      </div>
                      <div class="product-category-list">
                        <ul>
                            <% categories.forEach(category => { %> 
                                <li><a href="" class="c-items"><%= category.category_name %> (10)</a></li>
                            <% }); %> 
                         </ul>
                      </div>
                    </div>
                    <div class="product-color">
                      <div class="color-title">
                        <h4 class="product-h4">Color</h4>
                      </div>
                      <div class="product-color-list">
                        <ul>
                          <li>
                            <a href="" class="product-color-item color1"></a>
                          </li>
                          <li>
                            <a href="" class="product-color-item color2"></a>
                          </li>
                          <li>
                            <a href="" class="product-color-item color3"></a>
                          </li>
                          <li>
                            <a href="" class="product-color-item color4"></a>
                          </li>
                          <li>
                            <a href="" class="product-color-item color5"></a>
                          </li>
                          <li>
                            <a href="" class="product-color-item color6"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-filter">
                      <div class="filter-title">
                        <h4 class="product-h4">Filter by price</h4>
                      </div>
                    </div>
                    <div class="product-size">
                      <div class="filter-title">
                        <h4 class="product-h4">Size</h4>
                      </div>
                      <div class="product-size-list">
                        <ul>
                          <li><a href="" class="size-item active">S</a></li>
                          <li><a href="" class="size-item">M</a></li>
                          <li><a href="" class="size-item">L</a></li>
                          <li><a href="" class="size-item">XL</a></li>
                          <li><a href="" class="size-item">XXL</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-md-9">
                  <div class="product-right-wrapper">
                    <div class="product-cat-type">
                      <ul class="product-cat-list">
                        <% categories.forEach(category => { %>
                            <li> <a href=""><button class="cat-item"><%= category.category_name %> </button></a> </li> 
                          <% }); %> 
                      </ul>
                    </div>
                   
<hr>
                    <div class="product-grid">
                      <% products.forEach(product => { %>
                      <div class="product-item">
                        <div class="produt-wrap">
                          <a href="/product-detail/<%= product.id %> ">
                            <img
                              src="../product_images/<%= product.product_main_image%> %>"
                              class="pro-img"
                              alt=""
                            />
                          </a>
 
                          <div class="product-btn">
                            <div class="pro-whishlist">
 
                        <a  class="add-to-favorites" data-product-id="<%= product.id %>">
                          <img src="assets/images/heart.png" alt="Add to Favorites" />
                        </a>

                            </div>
                           </div>
                        </div>
                        <div class="product-add-to-card-wrap">
                           <button class="add-to-cart" data-product-id="<%= product.id %>">
                             Add to Cart
                           </button>
                         </button>
                        </div>
                        <div class="product-details shop-content">
                          <a href="/product-detail/<%= product.id %>"
                            ><h6><%= product.product_name %> </h6></a
                          > <span>
                            
                          </span>
                          <div class="product-price">
                            <h5> 
                               <span class="mrp-price" style="font-size: 16px;"> £<%=product.product_price %></span>
                               <span class="final-price" >£<%=(product.product_price * (1 - (product.discount_on_product / 100))).toFixed(2) %></span> 
                               <span style="font-size: 15px;color:rgb(193, 196, 196)"> (<%=product.discount_on_product %>% OFF )</span>
                            </h5>
                          </div>
                          

                          <div class="product-color-option">
                            <ul>
                              <li>
                                <a href="" class="p-option-item c1 active"></a>
                              </li>
                              <li><a href="" class="p-option-item c2"></a></li>
                              <li><a href="" class="p-option-item c3"></a></li>
                              <li><a href="" style="color: #000">+More</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End -->
      </div>
      <!-- Footer -->
      <%- include('includes/footer') %>
      <!-- End -->

      
    <script>
      // Add event listener to the "Add to Favorites" button
      document.addEventListener("DOMContentLoaded", function () {
        const addToFavoritesButtons =
          document.querySelectorAll(".add-to-favorites");

        addToFavoritesButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const productId = button.getAttribute("data-product-id");

            // Send AJAX request to the server
            fetch(`/favorites/add/${productId}`, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
              credentials: "same-origin", // include cookies
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Network response was not ok");
                }
                return response.json();
              })
              .then((data) => {
                if (data.success) {
                  // Show popup alert
                  alert(data.message);

                  // Update wishlist count in the span
                  const wishlistLi = document.querySelector("#wishlist");
                  if (wishlistLi) {
                    const countTextSpan =
                      wishlistLi.querySelector(".count-text");
                    if (countTextSpan) {
                      countTextSpan.textContent =
                        "Wishlist " + data.favoritesCount;
                    }
                  }
                } else {
                  alert(data.message);
                }
              })
              .catch((error) => {
                console.error(
                  "There was a problem with the fetch operation:",
                  error
                );
                // Handle error
                alert(
                  "An error occurred while adding the product to favorites"
                );
              });
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const addToCartButtons = document.querySelectorAll(".add-to-cart");

        addToCartButtons.forEach((button) => {
          button.addEventListener("click", addToCart);
        });

        async function addToCart(event) {
          const productId = event.currentTarget.getAttribute("data-product-id");
          try {
            const response = await fetch(`/cart/add/${productId}`, {
              method: "GET",
            });
            const result = await response.json();
            if (result.success) {
              alert(result.message);
              // Update cart count in the span
              const cartLi = document.querySelector("#cart");
              if (cartLi) {
                const countTextSpan = cartLi.querySelector(".product-count");
                if (countTextSpan) {
                  countTextSpan.textContent = result.CartCount;
                }
              }
            } else {
              alert(result.message);
            }
          } catch (error) {
            console.error("Error:", error);
            alert("An error occurred while adding the product to cart");
          }
        }
      });
    </script>

    </div>
    <%- include('includes/foot') %>
  </body>
</html>
